body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.commentBox h1{
  background-color: #f0f8ff;
  font-size: 28px;
  font-weight: normal;
}

.comment .commentAuthor {
  display: inline-block;
  background-color: rgba(66, 204, 218, 0.58);
  font-size: 16px;
  font-weight: normal;
  padding: 0px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.comment div {
  margin-bottom: 15px;
}

.commentForm input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  margin-top: 15px;
  margin-right: 15px;
}

.commentForm input:nth-child(3) {
  background-color: rgba(96, 218, 66, 0.58);
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 15px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


























